@model Pokemon.Models.Poke
<div class="pol">
 
<h2 class="let">GANADOR</h2>
<img class="winner "src="@Model.Url"  />
<audio autoplay="true" loop="true" src="../Sonido/Efecto_de_sonido_suspenso.mp3" ></audio>
</div>
