@model IEnumerable<Pokemon.Models.Entrenador>
<div class="color">
    @{
        ViewBag.Title = "Index";
    }

    <button type="button" data-url="@Url.Content("~/Entrenadors/VisualizarPokemon/")">Comenzar partida</button>

    <div id="poks">

    </div>

    @section scripts
{
        <script>
            $('body').on('click', '[data-url]', function () {
                $.ajax({
                    method: 'POST',
                    url: $(this).data('url')
                })
                .done(function (data) {
                    $('#poks').hide();
                    $('#poks').html(data);
                    $('#poks').show('fast');
                });
            })
        </script>
    }
</div>